<div class="page-wrap h-full slate">
    <div class="session-form-hold">
      <!-- <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar> -->
      <mat-card class="!m-0">
        <mat-card-content>
          <div class="flex flex-col items-center !py-4">
            <img width="100px" src="assets/images/logo.svg" alt="">
            <h2 class="fnt--24 clr--333 m-0 py-4">Forgot password?</h2>
            <p class="fnt--16 clr--304156 m-0 pb-4">Enter your email address to reset the password</p>
          </div> 
          <mat-error *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></mat-error>
          
          <form [formGroup]="signinForm" (ngSubmit)="signin()"> 
            <div class="mb-7">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  name="username"
                  [formControl]="signinForm.controls['username']"
                  placeholder="Email Address"
                  value="">
              </mat-form-field>
              <mat-error 
                *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
                class="form-error-msg"> Email Address is required </mat-error>
            </div>
      
            
            <button mat-raised-button class="mat-primary full-width mb-7" [routerLink]="['/auth/reset-password']">Send Reset Link</button>
            <div class="flex mb-4">
                <a href="" class="fnt--16 clr--959595 hover:underline text-center full-width"
                    [routerLink]="['/auth/signin']">Back to Sign In</a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  