.my-profile-wrapper{
    .update-email-password-wrapper{
        padding: 15px 10px;
        .update-email-section{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 47%;
            padding: 0 10px;
            .send-code-btn{
                max-width: 180px;
            }
        }
        .update-password-section{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 47%;
            padding: 0 10px;
            .send-code-btn{
                max-width: 180px;
            }
        }
    }
}
@media screen and (max-width: 992px){
    .my-profile-wrapper .update-email-password-wrapper{
        .update-email-section{
            max-width: 100%;
        }
        .update-password-section{
            max-width: 100%;
        }
    }
}