<div class="px-4">
    <div class="organization-management-wrapper">
        <h2 class="fnt--24 clr--333 mb-0 py-4">
            Organization Management
        </h2>

        <div class="flex flex-col organization-management-section">
            <div class="flex flex-wrap justify-between items-center organization-management-header-section full-width">
                <div class="search-field full-width">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Search</mat-label>
                        <input id="search" type="text" name="search" matInput placeholder="Search" value="">
                        <button mat-icon-button type="button"
                            matPrefix>
                            <mat-icon class="icon-size-5">search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <button mat-raised-button class="mat-primary full-width send-code-btn">Invite New Organization</button>
                </div>
            </div>

            <div class="flex organization-management-body-section">
                <div class="org-table-section full-width">
                    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 full-width">
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="orgName">
                            <th mat-header-cell *matHeaderCellDef> Organization Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.orgName}} </td>
                        </ng-container>
                    
                        <!-- Email Column -->
                        <ng-container matColumnDef="adminEmail">
                            <th mat-header-cell *matHeaderCellDef> Admin's Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.adminEmail}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <!-- Invited Column -->
                        <ng-container matColumnDef="invited">
                            <th mat-header-cell *matHeaderCellDef> Invited </th>
                            <td mat-cell *matCellDef="let element"> {{element.invited}} </td>
                        </ng-container>

                        <!-- Joined Column -->
                        <ng-container matColumnDef="joined">
                            <th mat-header-cell *matHeaderCellDef> Joined </th>
                            <td mat-cell *matCellDef="let element"> {{element.joined}} </td>
                        </ng-container>
                    
                        <!-- # of Employees Column -->
                        <ng-container matColumnDef="numberEmployees">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> # of Employees </th>
                            <td mat-cell *matCellDef="let element" class="text-center"> {{element.numberEmployees}} </td>
                        </ng-container>

                        <!-- Actions Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon class="icon-size-5 mr-2 cursor-pointer" matTooltip="View Details" matTooltipPosition="above" [routerLink]="['/admin/view-employee-details']">visibility_on</mat-icon>
                                <mat-icon class="icon-size-5 mr-2 cursor-pointer"  matTooltip="Revoke Invite" matTooltipPosition="above">highlight_off</mat-icon>
                                <mat-icon class="icon-size-5 mr-2 cursor-pointer" matTooltip="Reactivate Organization" matTooltipPosition="above">refresh</mat-icon>
                                <mat-icon class="icon-size-5 mr-2 cursor-pointer" matTooltip="Resend Invite" matTooltipPosition="above">sync</mat-icon>
                                <mat-icon class="icon-size-5 cursor-pointer" matTooltip="Suspend Organization" matTooltipPosition="above">block</mat-icon>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>